# Ignore Microsoft Word docs
*.docx

# ignore dataset files, we just wanna push the zip
data/
*.csv

# Ignore temporary / OS files
__pycache__/
*.pyc
.DS_Store
venv/
.venv/

# SLURM / training output files
logs/
job.err
job.out
traininginfo.out
stattracking.txt

# model outputs
runs/
graphs/
checkpoints/
